@mixin card-image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 293px;
  height: 295px;
  border-radius: 15px 15px 0px 0px;
  border-bottom: 1px #a3a3a3 solid;
}

@mixin shadow-hover {
  box-shadow: 0px 12px 20px -10px black;
  transition: 1s;
}

@mixin film-shot {
  background-repeat: no-repeat;
  background-size: cover;
  width: 610px;
  height: 356px;
  border-radius: 20px;
  border: 1px solid #a3a3a3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 140px;
  font-size: 18px;
  font-weight: 700;
  color: #f3f4f8;
  font-family: "Inter", sans-serif;
  transition: 1.7s;

  span {
    margin-left: 16px;
  }
}

@mixin shot-hover {
  transform: scale(1.05, 1.05);
  transition: 1.5s;
}

@mixin film-card-image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 398px;
  height: 296px;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 1px solid #a3a3a3;
}

@mixin button-style {
  width: 116px;
  height: 48px;
  border-radius: 25px;
  border: none;
  background-color: #006d9b;
  font-size: 24px;
  font-weight: 700;
  font-family: $georgian-font;
  color: white;
  transition: 1s;
}

@mixin button-hover {
  background-color: rgb(80, 0, 210);
  transition: 1s;
}

@mixin film-shot-2 {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 296px;
  border-radius: 20px;
  border: 1px solid #a3a3a3;
  justify-content: space-between;
  transition: 1.5s;

  p {
    border-radius: 20px;
    background-color: #309d6f;
    font-size: 20px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    width: 132px;
    height: 34px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-left: 32px;
  }

  img {
    margin-bottom: 32px;
    margin-left: 312px;
    width: 56px;
    height: 56px;
  }
}

@mixin footer-items-style {
  font-size: 14px;
  font-weight: 500;
  font-family: $georgian-font;
  color: white;
}

@mixin footer-items {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1 {
    font-size: 16px;
    font-weight: 700;
    font-family: $georgian-font;
    text-decoration: underline;
    color: #f3f4f8;
    transition: 1s;
  }

  h1:hover {
    color: #006d9b;
    transition: 1s;
  }

  h2 {
    @include footer-items-style;
    transition: 1s;
  }

  h2:hover {
    color: rgb(255, 196, 0);
    transition: 1s;
  }

  h3 {
    @include footer-items-style;
    transition: 1s;
  }
  h3:hover {
    color: rgb(255, 196, 0);
    transition: 1s;
  }

  h4 {
    @include footer-items-style;
    transition: 1s;
  }
  h4:hover {
    color: rgb(255, 196, 0);
    transition: 1s;
  }

  h5 {
    @include footer-items-style;
    transition: 1s;
  }
  h5:hover {
    color: rgb(255, 196, 0);
    transition: 1s;
  }
}

@mixin footer-icons {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  gap: 7px;
}

@mixin categoti-cards {
  width: 190px;
  height: 208px;
  background-color: #eaf5f1;
  font-size: 20px;
  font-weight: 500;
  font-family: $georgian-font;
  color: #05435e;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 32px 32px 32px 32px;
  transition: 1s;
}

@mixin card-pages-images {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding: 25px 25px 25px 25px;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  width: 505px;
  height: 548px;
  transition: 1s;
}
